<!DOCTYPE html>
<html ng-app="cageApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheet.css">
        <title></title>
    </head>
    <body ng-controller="mainCtrl">

        <div ng-if='filmographie'>
            <graphique></graphique>
            <div>
                Genre actuellement actif : {{activeGenre}}
            </div>
            <div ng-repeat="genre in genres">{{genre}}
            </div>
            <legende></legende>
        </div>
        <!-- Liste des dépendances -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/d3-tip/index.js"></script>
        <script src="bower_components/pleasejs/src/Please.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="scripts/app.js"></script>

        <!-- Liste des services -->
        <script src="scripts/services/actorInfos.js"></script>
        <script src="scripts/services/genresTraitement.js"></script>

        <!-- Liste des contrôleurs -->
        <script src="scripts/controllers/mainCtrl.js"></script>

        <!-- Liste des directives -->
        <script src="scripts/directives/graphique.js"></script>
        <script src="scripts/directives/legende.js"></script>
    </body>
</html>
